body{
  margin-top: 300px;
  text-align: center;
  background: url("https://media.npr.org/assets/img/2013/03/25/gadget-use-e7489387c505ffadb793e007e62d01672ceb55b1.jpg");
  background-size:cover;
  color: white;
  font-family: Helvetica;
}

img{
	 width: 560px;
}

hr{
  width: 200px;
}

p{
  font-size: 18 px;
  font-family: helvetica;
}

h1{
	font-family: helvetica;
	font-size: 20px
}

